.sidebar {
  width: 240px;
  min-height: 100vh;
  position: sticky;
  top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 15px;
  margin: 6px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar ul li:hover {
  background: #0d6efd;
}

.avatar-circle {
  width: 55px;
  height: 55px;
  background: #0d6efd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-weight: bold;
  font-size: 20px;
}